@import "./styles/setup";
@import "./styles/baseStyles";
@import "./styles/colors";
@import "./styles/typography";
@import "./styles/nav";

.schedule-time {
  border: 1px solid red;
  text-align: center;
  padding: 4px;
}
