:root {
  --primary-colour: linear-gradient(to bottom right, #8387f1 0%, #c584e0 74%);
  /* --primary-colour: linear-gradient(to bottom right, #666beb 0%, #d288f1 74%); */
  /* --primary-colour: linear-gradient(to bottom right, #9094f8 0%, #d288f1 74%); */
  /* --accent-colour: #fcc297; */
  --high-emphasis-font-colour: #212529;
  --accent-font-colour: #612a91;
  --low-emphasis-font-colour: #fff;
  --background-colour: #212529;
  --border-colour: #dee2e6;
  --accent-colour: #c584e0;
}
