// Typography
h1 {
  background: var(--primary-colour);
  margin: 0px;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
