// Base styles
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: var(--high-emphasis-font-colour);
}

p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: var(--high-emphasis-font-colour);
}

body {
  background-color: var(--background-colour);
}

.wrapper {
  width: 414px;
  margin: 24px auto 24px auto;
  border: 1px solid black;
  border-radius: 8px;
  height: calc(100vh - 48px);
  background-color: white;
}

.main-section {
  height: calc(100% - 122px);
  padding: 16px;

  .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 349px);
    font-weight: 600;
    color: var(--accent-font-colour);
    flex-direction: column;
    gap: 24px;

    .empty-folder-img {
      height: 100px;
      width: 100px;
    }
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

.icon {
  height: 18px;
  width: 18px;

  &.checked {
    color: var(--accent-colour);
  }
}

form {
  position: relative;

  .search-icon {
    position: absolute;
    top: 16px;
    margin: 0px 8px;
    left: 0px;
    color: var(--border-colour);
  }

  input {
    margin: 8px 0px;
    border-radius: 4px;
    outline: 2px solid var(--border-colour);
    border: none;
    padding: 8px;
    width: 100%;
    padding-left: 32px;

    &:focus {
      outline: 2px solid var(--accent-colour);
    }

    &:focus::placeholder {
      color: var(--high-emphasis-font-colour);
    }

    &:focus + .search-icon {
      color: var(--accent-colour);
    }
  }
}
